name: pluto

on: 
  pull_request:

env:
  CHART_ROOT: charts

jobs:

  scan:

    name: Searching deprecated apiVersions
    runs-on: ubuntu-latest
    permissions:
      contents: read 
      security-events: write 
      actions: read

    steps:

      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@master

      - name: Use pluto
        run: |
          pluto detect-files -d $CHART_ROOT